target/
*.iml
*.log
.git
.gitignore
.DS_Store
.idea/
.env
.env.*
src/main/resources/application-local.yml
src/main/resources/application-dev.yml
src/main/resources/application-prod.yml
src/main/resources/application-secret.yml
src/main/resources/application-secrets.yml
